body {
    margin : 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #EAFEFF;
    font-weight : 300;
}
   
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.header-main {
    background-color :#318488;
    height : 130px;
    .nav-bar{
        display : flex;
        flex-flow : row wrap;
        justify-content: space-between;
        span{
            color: white;
            font-weight: 500;
            font-size: 45px;
            margin: 30px 37px 37px 47px;
        }
        button {
            margin: 25px 15px 15px 15px;
            font-size: 15px;
            color: white;
            background-color: #4ca8ad;
            border: none;
            padding: 7px;
            font-weight: bold;
        }
    }
}
#header-menu-icon{
    display: none;
}

@mixin button($width,$height){
    width : $width;
    height : $height;
}

.psearch {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 50px;
}

.search {
    display: flex;
    flex-flow : row wrap;
    justify-content: center;
    margin-top : -30px;
    width : 90vw;
}

.search #inptitle {
    border : 2px rgb(255, 255, 255) solid;
    border-right-color : #e8e4e4; 
    width : 30%;
    height : 50px;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Quicksand', sans-serif;
}
.search #inploc {
    border : 2px rgb(251, 251, 251) solid;
    border-right-color : #e8e4e4;
    width : 30%;
    height : 50px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.search  #inpjtype {
    display  : flex ;
    flex-flow:  row wrap;
    justify-content: space-between;
    border : 2px rgb(251, 251, 251) solid;
    width : 35%;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
}
.search div{
    padding : 5px 0px 0px 10px;
}
.search #inp:focus{
    background-color: white;
}
.search #btt{
    margin-right: 10px; 
    width : 90px;
    height : 40px;
    color: white; 
    background-color: hsl(180, 40%, 65%);
    border : 0px;
    border-radius: 2px;
}

.result {
    margin-top : 20px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: space-around;
}
.result div {
    padding : 10px 10px;
    margin : 10px;
    width : 250px;
    box-shadow: 0px 10px 20px #B5F3F3;
    border-radius: 4px;
    border: 2px white solid;
    background-color: white;
    overflow-wrap :break-word;
}
.result img {
    width : 100px;
    height: 100px;
    border-radius: 50%;
}
.result div:hover , .result div:active{
    border-left: 3px hsl(180, 29%, 50%) solid;
    box-shadow: 0px 10px 30px #7CFFFF;
}
.result h3{
    color : grey;
    font-size: 12px;
}
.result h2 {
    font-size: 23px;
    font-weight : 500;
}
.despar{
    display: flex;
    flex-flow : column wrap;
    align-content: center;
    margin-top : -50px;
}
.despar .header{
    margin-top : -20px;
    display: flex;
    width : 500px;
    flex-flow : row wrap;
    background-color: white;
    padding : 10px 10px;
    justify-content: space-between;
    border-radius : 0px 10px 0px 10px;
}
.despar .header button , 
.body button{
    margin-top: 10px;
    height : 30px;
    color : hsl(180, 40%, 65%);
    background-color: rgb(223, 244, 250);
    border: 0px white;
    border-radius : 3px 3px;
    
    font-weight : 600;
    font-size : 12px;
}

.despar .header h2{
    margin-left: 10px; 
    font-family : Spartan;
    font-size : 20px;
    width: 300px;
    align-self : flex-start;
    /*word-wrap: break-word;*/
}

.despar .body{
    margin-top : 10px;
    background-color: white; 
}
.despar .body .title{
    display: flex;
    flex-flow : row wrap;
    justify-content: space-between;
}
.despar .body h1 {
    margin: 15px 15px; 
    font-family : Spartan;
    font-size : 20px;
    width: 300px;
    align-self : flex-start;
    word-wrap: break-word;
}
.despar .body button{
    margin: 15px 15px;
}
.description{
    width : 500px;
    padding : 10px 10px;   
}

.login-form{
    display: flex;
    flex-flow : column wrap;
    justify-content: space-between;
    align-items : flex-start;
    width : 400px;
    height : 450px;
    background-color: white; 
    margin-left : 35%;
    margin-top : 10px;
    border-radius: 2%;
    padding: 20px; 
    span{
        font-weight: bold;
    }
    input{
        align-self: stretch; 
        height : 30px;        
    }
    #btn-submit{
        align-self: center;
        width : 70px;
        background-color: cyan;
        border-radius: 5%;
        border : 0px;
        color :white;
    }
}

.post-job-form{
    display: grid;
    margin : 2% 20% ;
    grid-gap : 10px;
    grid-template-columns: 200px 500px 200px;

        input[type = "text"]{
            grid-column : 2/3;
            width : 500px;
            height: 20px;
        }
        #row-textarea{
            grid-column : 2/3;
            width : 510px;
            height: 500px;
        }
        span{
            grid-column : 1/2;
            margin-right: 10px;
            font-weight : bold;
            font-size: 17px; 
        }
        #btn-submit{
            margin : auto;
            width : 100px;
            height: 30px;
            grid-column : 2/3;
            background-color : cyan;   
        }
        #post-job-error{
            grid-column : 3/4;
            color : red;
            margin-left : 5px;
            font-size : 15px;
        }
}

#btn-prof-edit{
    margin-left: 40px;
    border : 3px cyan solid;
    border-radius: 5px;
    color : cyan;
}
.profile-header{
    display : flex;
    flex-flow : row wrap;
    width : 200px;
    justify-content: space-around;
}
.profile-body{
    display : grid;
    grid-gap : 20px;
    grid-template-columns: 200px 500px;
    
    label{
        grid-column: 1/2;
        margin-left : 40px;
        font-weight: bold;
    }
    span{
        grid-column : 2/3;
        button{
            margin-left: 50%;
            font-size: 14px;
            color: white;
            background-color: #e01b1b;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 2%;
        }
    }

}

.profile-recruiter{
    margin : 40px;
    #label-job-list{
        font-size : 20px;
        font-weight : 500;
    }
    #icon-box{
        display: block;
        border: none;
        box-shadow: none;
        margin: auto;
        padding: 10px;
    }
    svg{
        margin-left : 10px;
    }
    div{
        display : flex;
        flex-flow : column wrap;

        div{

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            box-sizing: border-box;
            margin : 10px 10px 5px 40px;
            padding : 10px;
            box-shadow: 0px 10px 30px #BAFFFF;
            
            &:hover , &:active{
                border-left: 3px hsl(180, 29%, 50%) solid;
                box-shadow: 0px 10px 30px #7CFFFF;
            }
            background-color: white;
            font-size: 20px;
            padding: 10px;

            span{
                width : 25%;
            }
            button{
                border : 3px cyan solid;
                border-radius: 5px;
                color : cyan;
            }
        }
        

    }
}

.job-application{
    width : 700px;
    background-color : white;
    margin : auto;
    margin-top : 15px;
    border-radius: 2%;
    padding: 20px;
    div{
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap : 20px;
        label{
            grid-column : 1/2;
            font-weight: bold;
            font-size: 17px;
        }
        span{
            grid-column : 2/3;
            font-size : 17px
        }
    }
}

.form{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: 15px 150px 250px 20px;
    background-color: white;    
    
    #btn{
        grid-column: 4/5;
    }
    input{
        grid-column : 3/4;
        width : 250px;
        height: 20px;
    }
    
    label{
        grid-column : 2/3;
        width : 100px;
        font-size: 16px;
        font-weight: bold;
    }
    button{
        border-width: 0px 0px;
        grid-column : 3/4;   
    }
    #submit{
        width : 75px;
        margin-bottom : 10px;   
    }
    .error{
        grid-column : 3/4;
        width : 250px;
        height: 20px;
        width : 200px;
        font-weight: bold;
        color : red;        
    }
}
.error{
    width : 200px;
    font-weight: bold;
    color : red;
}
.center{
    margin : 2% 0 0 30%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background : transparent;
    width: 40%;
    height: auto;
    top:50%;
    left:50%;
    border-radius: 5px; 
    transform: translate(-50%,-50%);
  }
  
  .mdl-cls-btn{
      margin-left : 95%;
      border-width : 0px 0px; 
  }
  .display-block {
    display: block;
  }

.btn-gnl {
    margin: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
}

.delete-prompt {
    height: 150px;
    background-color: #425374;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
	span {
   		font-size: 20px;
   		color: #9cadc2;
        font-weight: 500;
        margin-left: 15px;
        }

}
.btn-cancel{
        color: #425374;
        background: #88a0b8;

}
.btn-delete{
        color: white;
        background: #ef5d5d;
    }

.btn-del-profile{
        margin-left : 45%;
        margin-top : 5%;
        color: white;
        background: #ef5d5d;
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 500;
}
.prof-edit-btn{
    color: cyan;
    font-size : 20px;
    position: relative;
    top: 25px;
    left: -45px;
}

@media screen and (max-width : 900px){
    #header-menu-icon{
        display: block;
        width : 2rem;
        height : 2rem;
        margin-top : 2rem;
    }
    .nav-menu-drop{
        display: flex;
        flex-flow : column wrap;
        z-index : 1;
        button{
            width: 100vw;
        }
    }
    .desp-title-box {
        margin: 0px 10px;
        background-color: white;
    }
    .result{
        display: flex;
        flex-flow: column wrap;
        margin-left: calc((100vw - (75vw + 40px))/2);
        margin-top : 100px;
    }
    .result div{
        width : 75vw;
    }
    .nav-btns{
        display:none;
    }
    .search {
        flex-flow: column wrap;
        z-index: 0;
        margin-left : calc((100vw - 80vw)/2);
        #inpjtype,#inploc,#inptitle{
            width : 80vw;
        }
    }
    .header-main .nav-bar{
        button {
            margin: 0px;
            padding: 1em;
            text-align: left;
        } 
        span {
            font-size: 2rem;
            margin: 30px 0px 20px 10px;
        }
    }
    
    .despar{
        display: block;
        margin-top: -40px;
        .body{
            background-color: transparent;
        }
        .header{
            margin : 0px 10px;
            width : auto;
        }
    }
    .description{
        background-color : white;
        margin : 0px 10px 10px 10px;
        width : auto;
    }
    .login-form{
        width : auto;
        margin: 5em 2em;
        height: 100vh;
        input{
            height: 2em;
        }
    }
    .post-job-form{
        display: flex;
        flex-flow : column wrap;
        width : 90vw;
        margin-left : calc((100vw - 90vw)/2);
        margin-top : 1em;

        input[type = text],#row-textarea{
            width : 100%;
        }
        #btn-submit{
            width : 40%;
            margin-left : calc((100% - 40%)/2);
            margin-top : 5%;
        }
    }
    .profile-header{
        padding-left : 20px;
        width : 40%;
        justify-content: flex-start;
        align-items : center;
    }
    .profile-body{
        display: flex;
        flex-flow : column wrap;
        padding: 10px 10px;
        margin : 10px;
        width : 90vw;
        label{
            margin-left : 10px;
        }
        span{
            margin-left: 10px;
        }
    }
    .profile-title{
        margin-right : 10px;
    }
    .profile-recruiter{
        margin-left : 20px;
        #icon-box{
            display: none;

        } 
        div div{
            width: auto;
            display: flex;
            flex-flow : column wrap;
            align-content: flex-start;
            span{
                width : auto;
            }
        }
    }
    .prof-edit-btn{
        position: static;
    }
    .btn-del-profile{
        margin: 0px 0px 0px calc((100% - 150px)/2);
    }
    .job-application{
        width : 80vw;
        margin : 15px 5vw 10px 5vw;
        div{
            display: flex;
            flex-flow : column wrap;
        }
    }

    .form{
        display : flex;
        flex-flow : column wrap;
        width : 90vw;

        margin : 10px calc((100vw - 90vw)/2);
                
        input , label {
            width : auto;
            margin : 5px 10px;
        }
        #btn{
            display: none;
        }
        #submit{
            margin-left : calc((90vw - 75px)/2);
        }
    }
    .delete-prompt{
        width : 90vw;
        margin-left : calc((100vw - 90vw)/2);
        margin-top : calc((100vh - 150px)/2);
    }
    .modal {
        overflow : auto;
        bottom : 0;
        height: auto;
    }
    .modal-main{
        position: static;
        width : auto;
        transform: none;
    }
};